@import 'config'

@keyframes alert
  from
    background #900
  to
    background #333

.github-issues-widget
  height 100%
  overflow hidden
  h1
    padding 3%
    text-align center
    color #fff
    background #222
  h2
    color #fff
  .github-issue-list-item
    color #ccc
    background #333
    font-size 80%
    &.critical.js-not-assigned
      animation-name alert
      animation-duration 1s
      animation-iteration-count infinite
      animation-direction alternate
    img
      display inline-block
      width 25%
      vertical-align middle
    .description
      display inline-block
      padding 2%
      width 71%
      vertical-align middle
