//= requireSelf
//= requireTree .

@import 'config'

global-reset()

html
body
  height 100%
  font-family font-family
  font-weight 100

#main
  position relative
  height 100%
  font-size 1.5%

.widget
  position absolute
