<%
var defaultTitle = 'EKG | Eccentric Kangaroo Graphs';
o.title = o.title ? o.title + ' | EKG' : defaultTitle;
%>
<!doctype html>

<html>

  <head>
    <title><%- o.title %></title>
    <link href='/index.css' rel='stylesheet'>
  </head>

  <body>
    <div id='main'>
