<div class='content'>
  <div class='time-meridiem'>
    <span class='time'><%- o.time %></span
    ><span class='meridiem'><%- o.meridiem.toUpperCase() %></span>
  </div>
  <div class='date'><%- o.date %></div>
</div>
